<div class='container-fluid'>
  <div class='row'>
    <div class='container'>
      <h5>编辑 <span class='label label-default'><%= @data["name"] %></span> 的站会设置</h5>
      <%= render 'form' %>
    </div>
  </div>
</div>